.features-section {
  padding: 120px 90px;
  margin-top: -140px;
  background-color: hsl(220, 16%, 96%);
  overflow-x: hidden;
}

.features-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}

.features-intro h3 {
  font-size: 38px;
  letter-spacing: 1px;
  opacity: 0.9;
}

.features-intro p {
  opacity: 0.7;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.features-card h5 {
  margin-top: 40px;
}

.features-card p {
  margin-top: 20px;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .features-section {
    margin-top: 50px;
    text-align: center;
  }
}
