.footer-section {
  background-color: hsl(233, 26%, 24%);
  overflow-x: hidden;
  padding: 60px 90px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

li {
  list-style-type: none;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
  height: 125px;
  width: 50%;
}

.footer-info > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logos {
  display: flex;
  margin-left: -30px;
}

.footer-logos li {
  padding-right: 8px;
}

.info-block-2 li {
  padding: 8px;
}

.info-block-3 li {
  padding: 8px;
}

.info-block-4 {
  margin-right: 50px;
}

.info-block-4 li {
  padding: 8px;
}

.info-block-4 li:last-child {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  footer {
    height: 600px;
  }
  .footer-section {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .footer-info {
    flex-direction: column;
    margin-top: 80px;
  }
  .footer-logos {
    margin-top: 20px;
  }
  .info-block-3 {
    margin-left: -15px;
    margin-top: -10px;
  }
  .info-block-4 {
    margin-top: 70px;
  }
  .info-block-4 button {
    width: 80%;
    border-radius: 20px;
  }
}
