.intro-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 98%);
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -50px;
  margin-right: 100px;
  padding: 20px 90px;
}

.intro-content h1 {
  font-size: 72px;
}

.intro-content p {
  margin-top: 20px;
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.intro-illustration {
  background-image: url("../../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-mockup {
  height: 800px;
  margin-right: -100px;
}

@media screen and (max-width: 768px) {
  .intro-section {
    flex-direction: column-reverse;
  }
  .intro-mockup {
    margin-top: -200px;
    height: 650px;
  }
  .intro-illustration {
    background-image: url("../../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .intro-content {
    margin-top: 30px;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .intro-content h1 {
    font-size: 42px;
    opacity: 0.8;
  }
  .intro-content p {
    margin-bottom: 30px;
  }
  .intro-content button {
    font-weight: 600;
    width: 60%;
    border-radius: 20px;
  }
}
